// Colors

$light-color: white;
$dark-color: #17181a;
$button-cta-dark-color: #222427;

// Shadows

$h2-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);

// Font-sizes

$h2-font: 3.5rem;
$logo-font: 2.5rem;
$nav-font: 2.5rem;
$button-cta-font: 1.5rem;

// Breakpoints

$breakpoints: (
  mobile: 800px,
);
