@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

// Header

header {
  .logo {
    a {
      color: v.$dark-color;
      text-decoration: none;
      transition: color 1s ease;
    }
    &.nav-opened {
      a {
        color: v.$light-color;
      }
    }
  }
  .logo-img {
    svg {
      fill: v.$dark-color;
      &.nav-opened {
        a {
          color: v.$light-color;
        }
      }
    }
  }
  nav {
    background-color: v.$dark-color;
    a {
      color: v.$light-color;
      text-decoration: none;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 84%;
        height: 3px;
        border-radius: 3px;
        background-color: white;
        bottom: 0;
        left: 3.5rem;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
      }
      &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }
}

// Components

.doggy-burger {
  background: none;
  border: none;
  .line {
    background-color: v.$dark-color;
    &.toggle {
      background-color: v.$light-color;
    }
  }
}

// Pages

#homepage {
  h2 {
    color: v.$light-color;
    text-shadow: v.$h2-shadow;
  }
  button.cta {
    background-color: v.$light-color;
    border: none;
    border-radius: 0.5rem;
    color: v.$button-cta-dark-color;
  }
}
