@use "../abstracts/mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  overflow: hidden;
}

header {
  min-height: 10svh;
  padding: 1rem;
  @include m.flex(center, center, row);
  gap: 5rem;
  @include m.media-query(mobile) {
    gap: 3rem;
  }
  .logo {
    @include m.flex(center, normal, row);
    overflow: hidden;
    z-index: 10;
    .letter {
      position: relative;
      bottom: -4.7rem;
    }
    .logo-img {
      position: relative;
      bottom: -7.1rem;
    }
    svg {
      path#bark-line-1 {
        animation: 0.17s ease bark-line-out-1-animation;
        opacity: 0;
      }
      path#bark-line-2 {
        animation: 0.17s ease bark-line-out-2-animation;
        opacity: 0;
      }
      path#bark-line-3 {
        animation: 0.17s ease bark-line-out-3-animation;
        opacity: 0;
      }
    }
    &:hover {
      svg {
        path#bark-line-1 {
          animation: 0.2s ease forwards bark-line-1-animation;
        }
        path#bark-line-2 {
          animation: 0.2s ease forwards bark-line-2-animation;
        }
        path#bark-line-3 {
          animation: 0.2s ease forwards bark-line-3-animation;
        }
      }
    }
  }
}

// Animations

@keyframes logo-animation {
  0% {
    bottom: -4rem;
  }
  60% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}

@keyframes logo-img-animation {
  0% {
    bottom: -7.1rem;
  }
  100% {
    bottom: 0;
  }
}

@keyframes bark-line-1-animation {
  0% {
    transform: translate(2rem, 2rem);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes bark-line-2-animation {
  0% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes bark-line-3-animation {
  0% {
    transform: translate(2rem, -2rem);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes bark-line-out-1-animation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-1.5rem, -1.5rem);
    opacity: 0;
  }
}

@keyframes bark-line-out-2-animation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1.5rem);
    opacity: 0;
  }
}

@keyframes bark-line-out-3-animation {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-1.5rem, 1.5rem);
    opacity: 0;
  }
}
