@use "../abstracts/variables" as v;

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
}

.logo a {
  font-size: v.$logo-font;
  font-weight: 700;
}

nav {
  font-size: v.$nav-font;
}
