@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

#find-match {
  @include m.flex(center, center, column);
  @include m.media-query(mobile-find-match) {
    height: 80svh;
    justify-content: flex-start;
  }
  .card-wrapper {
    position: relative;
    max-width: 53.4rem;
    .card {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 2rem;
      overflow: hidden;
      @include m.media-query(mobile-find-match) {
        border-radius: 0;
        height: 80vh;
        width: 100vw;
      }
      .img-wrapper {
        height: 80rem;
        @include m.media-query(mobile-find-match) {
          height: 100%;
        }
      }
      .dog-img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
      }
      .dog-name-and-group {
        position: absolute;
        bottom: 1rem;
        margin: 0 1rem 3rem 2rem;
        @include m.media-query(mobile-find-match) {
          margin-bottom: 7rem;
        }
      }
    }
    .bio {
      @include m.flex(normal, center, column);
      gap: 3rem;
      width: 100%;
      padding-top: 3rem;
      padding-bottom: 3rem;
      display: none;
      overflow: hidden;
      @include m.media-query(mobile-find-match) {
        padding-top: 0;
      }
    }
    .bio article {
      position: relative;
      margin: 0 2rem;
      padding: 1rem;
      border-radius: 1rem;
    }
    .bio article:nth-child(1) {
      animation: 0.6s ease 0.1s forwards bio-out-animation;
      .content {
        animation: 0.3s ease 0.1s forwards bio-content-out-animation;
      }
    }
    .bio article:nth-child(2) {
      animation: 0.6s ease forwards bio-out-animation;
      .content {
        animation: 0.3s ease 0s forwards bio-content-out-animation;
      }
    }
    .bio article:nth-child(1).bio-in-animation {
      animation: 0.5s ease forwards bio-in-animation;
      .content {
        animation: 1.3s ease 0s forwards bio-content-in-animation;
      }
    }
    .bio article:nth-child(2).bio-in-animation {
      transform: translateX(-110%);
      animation: 0.5s ease 0.1s forwards bio-in-animation;
      .content {
        animation: 1.3s ease 0.1s forwards bio-content-in-animation;
      }
    }
    .title {
      @include m.flex(center, normal, row);
    }
    .title h3 {
      margin-left: 1rem;
    }
    .attribute {
      @include m.flex(center, normal, row);
      margin: 1rem 0;
    }
    .attribute p {
      margin-left: 1rem;
    }
    .divider {
      display: block;
      width: 100%;
      margin: auto;
      height: 0.1rem;
    }
    .like-dislike-panel {
      @include m.flex(center, center, row);
      gap: 2rem;
      position: absolute;
      padding-bottom: 1rem;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 40%);
      @include m.media-query(mobile-find-match) {
        transform: translate(-50%, -4%);
      }
      button {
        width: 6rem;
        height: 6rem;
        border: none;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        transition: transform 0.1s ease;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      }
      button.toggle-bio,
      button.toggle-settings {
        width: 4rem;
        height: 4rem;
      }
      button:hover {
        transform: scale(1.05);
      }
      .dislike {
        background-color: #ececec;
      }
      .like {
        background-color: #ffebe6;
      }
      .toggle-bio {
        background-color: #f2e9f7;
      }
      .toggle-settings {
        background-color: #fdfde2;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@keyframes toggle-bio-button-open-animation {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes toggle-bio-button-close-animation {
  from {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(0);
  }
}

@keyframes bio-in-animation {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes bio-out-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110%);
  }
}

@keyframes bio-content-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bio-content-out-animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
