@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

#homepage {
  height: 80vh;
  margin: 0 10%;
  img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: 1.3s ease 0.2s forwards hero-img-animation;
    scale: 1.3;
  }
  .hero-cta {
    @include m.flex(normal, normal, column);
    position: absolute;
    max-width: 40rem;
    min-width: 22.2rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
  h2 {
    @include m.flex(center, center, row);
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .span-wrapper {
    overflow: hidden;
    padding: 0 0.4rem;
  }
  span {
    position: relative;
  }
  .hero-word-1 {
    right: -11rem;
    animation: 0.4s ease 1.3s forwards hero-text-1-animation;
  }
  .hero-word-2 {
    bottom: -6rem;
    animation: 0.4s ease 1.45s forwards hero-text-2-animation;
  }
  .hero-word-3 {
    left: -18rem;
    animation: 0.5s ease 1.6s forwards hero-text-3-animation;
  }
  .hero-word-4 {
    right: -13rem;
    animation: 0.4s ease 2s forwards hero-text-4-animation;
  }
  .hero-word-5 {
    top: -6rem;
    animation: 0.4s ease 1.85s forwards hero-text-5-animation;
  }
  button.cta {
    width: 20rem;
    height: 5rem;
    position: relative;
    align-self: center;
    opacity: 0;
    animation: 0.4s ease 2s forwards button-cta-animation;
    cursor: pointer;
    @include m.media-query(mobile) {
      width: 15rem;
      height: 4rem;
    }
    span.button-text {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all ease 0.2s;
    }
    span.heart {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 3rem;
      opacity: 0;
      transition: all ease 0.2s;
    }
    &:hover {
      span.button-text {
        left: calc(50% - 1rem);
      }
      span.heart {
        opacity: 1;
      }
    }
  }
}

@keyframes hero-img-animation {
  0% {
    scale: 1.3;
    border-radius: 0;
  }
  50% {
    scale: 0.9;
  }
  100% {
    scale: 1;
    border-radius: 3rem;
  }
}

@keyframes button-cta-animation {
  from {
    opacity: 0;
    bottom: -2rem;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

@keyframes hero-text-1-animation {
  from {
    right: -11rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes hero-text-2-animation {
  from {
    bottom: -6rem;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes hero-text-3-animation {
  from {
    left: -18rem;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes hero-text-4-animation {
  from {
    right: -13rem;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes hero-text-5-animation {
  from {
    top: -6rem;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
